# Python
__pycache__/
*.pyc

# Entorno virtual
env/

# Descargas y cache
downloads/
preview_cache/
served_files/

# Logs
*.log

# Docker
*.env

# Cookies — archivos sensibles, solo en VPS
cookies/
www.instagram.com_cookies.txt
www.tiktok.com_cookies.txt
www.youtube.com_cookies.txt
*_cookies.txt